<?xml version="1.0" ?>
<robot name="ikea_table">


<link name="base_link"/>

  <joint name="chassis_joint" type="fixed">
    <child link="chassis"/>
    <parent link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0.5"/>
  </joint>


  <link name="chassis">
   <visual>
      <origin rpy="0.0 0.0 -1.57" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/andi/ros2_workspace/install/self_driving_bot/share/self_driving_bot/meshes/ikea_table.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 -1.57" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/andi/ros2_workspace/install/self_driving_bot/share/self_driving_bot/meshes/ikea_table.dae" scale="1 1 1"/>
     </geometry>
    </collision>
    <inertial>
      <origin xyz="0.25000000 -0.00000000 0.50000000"/>
      <mass value="4.00000000"/>
      <inertia ixx="0.48390286" ixy="0.00000005" ixz="-0.00091636" iyy="0.57406531" iyz="-0.00033842" izz="0.34467206"/>
    </inertial>
  </link>
  <gazebo reference="chassis">
    <visual>
      <material>
        <ambient>0.4 0.2 0.1 1</ambient> 
        <diffuse>0.6 0.3 0.2 1</diffuse>
        <specular>0.1 0.1 0.1 1</specular> 
        <emissive>0.0 0.0 0.0 1</emissive> 
      </material>
    </visual>
  </gazebo>

  <!-- Control Link -->
  <link name="control">
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.075 0.30 0.075"/> 
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.075 0.30 0.075"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="control">
    <visual>
      <material>
        <ambient>0.4 0.2 0.1 1</ambient> 
        <diffuse>0.6 0.3 0.2 1</diffuse>
        <specular>0.1 0.1 0.1 1</specular> 
        <emissive>0.0 0.0 0.0 1</emissive> 
      </material>
    </visual>
  </gazebo>
  <joint name="control_joint" type="fixed">
    <parent link="chassis"/>
    <child link="control"/>
    <origin rpy="0 0 0" xyz="0 0 0.078"/> 
  </joint>


  <!-- Add a base footprint definition -->
  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0.0"/>
  </joint>
  <link name="base_footprint">
    <inertial>
      <mass value="0.0001"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <link name="wheel_back_left">
    <inertial>
      <origin xyz="0.00000000 -0.00000000 -0.00000000" rpy="-1.57 0.0 0.0"/>
      <mass value="0.25000000"/>
      <inertia ixx="0.00027539" ixy="0.00000000" ixz="0.00000000" iyy="0.00052463" iyz="-0.00000535" izz="0.00027551"/>
    </inertial>
    <visual>
      <geometry>
          <cylinder radius="0.0675" length="0.023"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
          <cylinder radius="0.0675" length="0.023"/>
      </geometry>
      <contact_coefficients mu="1" kp="1e+13" kd="1.0"/>
    </collision>
  </link>
  <gazebo reference="wheel_back_left">
    <material>
      <ambient>0.0 0.0 0.0 1</ambient> 
      <diffuse>0.0 0.0 0.0 1</diffuse> 
      <specular>0.1 0.1 0.1 1</specular> 
      <emissive>0.0 0.0 0.0 1</emissive> 
    </material>
  </gazebo>
  <joint name="wheel_back_left_joint" type="continuous">
    <origin xyz="-0.0 0.29 0.0" rpy="0.0 -1.57 -1.57"/>
    <parent link="chassis"/>
    <child link="wheel_back_left"/>
    <axis xyz="0.0 0.0 1.0"/>
  </joint>

  <link name="wheel_back_right">
    <inertial>
      <origin xyz="0.00000000 -0.00000000 -0.00000000" rpy="-1.57 0.0 0.0"/>
      <mass value="0.25000000"/>
      <inertia ixx="0.00027539" ixy="0.00000000" ixz="0.00000000" iyy="0.00052463" iyz="-0.00000535" izz="0.00027551"/>
    </inertial>
    <visual>
      <geometry>
          <cylinder radius="0.0675" length="0.023"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
          <cylinder radius="0.0675" length="0.023"/>
      </geometry>
      <contact_coefficients mu="1" kp="1e+13" kd="1.0"/>
    </collision>
  </link>
  <gazebo reference="wheel_back_right">
    <material>
      <ambient>0.0 0.0 0.0 1</ambient> 
      <diffuse>0.0 0.0 0.0 1</diffuse> 
      <specular>0.1 0.1 0.1 1</specular> 
      <emissive>0.0 0.0 0.0 1</emissive> 
    </material>
  </gazebo>
  <joint name="wheel_back_right_joint" type="continuous">
    <origin xyz="0.0 -0.29 0.0" rpy="0.0 -1.57 -1.57"/>
    <parent link="chassis"/>
    <child link="wheel_back_right"/>
    <axis xyz="0.0 0.0 1.0"/>
  </joint>

  <link name="roll_front_right">
   <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/andi/ros2_workspace/install/self_driving_bot/share/self_driving_bot/meshes/roll.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///home/andi/ros2_workspace/install/self_driving_bot/share/self_driving_bot/meshes/roll.dae" scale="1 1 1"/>
     </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.00000000 0.00688662 -0.02194443"/>
      <mass value="0.20000000"/>
      <inertia ixx="0.00006659" ixy="-0.00000000" ixz="0.00000000" iyy="0.00007293" iyz="0.00000796" izz="0.00008837"/>
    </inertial>
  </link>
  <gazebo reference="roll_front_right">
    <material>
      <ambient>0.0 0.0 0.0 1</ambient> 
      <diffuse>0.0 0.0 0.0 1</diffuse> 
      <specular>0.1 0.1 0.1 1</specular> 
      <emissive>0.0 0.0 0.0 1</emissive> 
    </material>
  </gazebo>
  <joint name="roll_front_right_joint" type="continuous">
    <origin xyz="0.68 -0.24 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="chassis"/>
    <child link="roll_front_right"/>
    <axis xyz="0.0 0.0 1.0"/>
  </joint>

  <link name="wheel_front_right">
    <visual>
      <geometry>
        <cylinder radius="0.03" length="0.03"/>
      </geometry>
      <material name="white"/>
    </visual>
    <inertial>
      <origin xyz="0.00000000 0.00000000 0.00000000"/>
      <mass value="0.10000000"/>
      <inertia ixx="0.00000823" ixy="0.00000000" ixz="0.00000000" iyy="0.00000866" iyz="0.00000000" izz="0.00000866"/>
    </inertial>
    <collision>
      <geometry>
           <cylinder radius="0.03" length="0.03"/>
      </geometry>
      <contact_coefficients mu="1" kp="1e+13" kd="1.0"/>
    </collision>
  </link>
  <gazebo reference="wheel_front_right_joint">
    <material>
      <ambient>0.0 0.0 0.0 1</ambient> 
      <diffuse>0.0 0.0 0.0 1</diffuse> 
      <specular>0.1 0.1 0.1 1</specular> 
      <emissive>0.0 0.0 0.0 1</emissive> 
    </material>
  </gazebo>
  <joint name="wheel_front_right_joint" type="continuous">http://gazebosim.org/
    <origin xyz="0.0 0.02 -0.040" rpy="0.0 1.57 0.0"/>
    <parent link="roll_front_right"/>
    <child link="wheel_front_right"/>
    <axis xyz="0.0 0.0 1.0"/>
  </joint>

<link name="roll_front_left">
   <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/andi/ros2_workspace/install/self_driving_bot/share/self_driving_bot/meshes/roll.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///home/andi/ros2_workspace/install/self_driving_bot/share/self_driving_bot/meshes/roll.dae" scale="1 1 1"/>
     </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.00000000 0.00688662 -0.02194443"/>
      <mass value="0.20000000"/>
      <inertia ixx="0.00006659" ixy="-0.00000000" ixz="0.00000000" iyy="0.00007293" iyz="0.00000796" izz="0.00008837"/>
    </inertial>
  </link>
  <gazebo reference="roll_front_left">
    <material>
      <ambient>0.0 0.0 0.0 1</ambient> 
      <diffuse>0.0 0.0 0.0 1</diffuse> 
      <specular>0.1 0.1 0.1 1</specular> 
      <emissive>0.0 0.0 0.0 1</emissive> 
    </material>
  </gazebo>
  <joint name="roll_front_left_joint" type="continuous">
    <origin xyz="0.68 0.24 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="chassis"/>
    <child link="roll_front_left"/>
    <axis xyz="0.0 0.0 1.0"/>
  </joint>

  <link name="wheel_front_left">
    <visual>
      <geometry>
        <cylinder radius="0.03" length="0.03"/>
      </geometry>
      <material name="white"/>
    </visual>
    <inertial>
      <origin xyz="0.00000000 0.00000000 0.00000000"/>
      <mass value="0.10000000"/>
      <inertia ixx="0.00000823" ixy="0.00000000" ixz="0.00000000" iyy="0.00000866" iyz="0.00000000" izz="0.00000866"/>
    </inertial>
    <collision>
      <geometry>
           <cylinder radius="0.03" length="0.03"/>
      </geometry>
      <contact_coefficients mu="1" kp="1e+13" kd="1.0"/>
    </collision>
  </link>
  <gazebo reference="wheel_front_left">
    <material>
      <ambient>0.0 0.0 0.0 1</ambient> 
      <diffuse>0.0 0.0 0.0 1</diffuse> 
      <specular>0.1 0.1 0.1 1</specular> 
      <emissive>0.0 0.0 0.0 1</emissive> 
    </material>
  </gazebo>
  <joint name="wheel_front_left_joint" type="continuous">
    <origin xyz="-0.0 0.02 -0.040" rpy="0.0 1.57 0.0"/>
    <parent link="roll_front_left"/>
    <child link="wheel_front_left"/>
    <axis xyz="0.0 0.0 1.0"/>
  </joint>

  <link name="camera">
    <inertial>
            <mass value="0.01" />
            <inertia ixx="0.01" ixy="0.0" ixz="0" 
            iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
      <geometry>
        <box size="0.005 0.03 0.03"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 1.57"/>
      <geometry>
          <box size="0.03 0.005 0.03"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="camera_joint">
    <material>
      <ambient>0.0 0.0 0.0 1</ambient> 
      <diffuse>0.0 0.0 0.0 1</diffuse> 
      <specular>0.1 0.1 0.1 1</specular> 
      <emissive>0.0 0.0 0.0 1</emissive> 
    </material>
  </gazebo>
  <joint name="camera_joint" type="fixed">
    <origin xyz="0.68 0.0175 0.433" rpy="0 0.0 0.0"/>
    <parent link="chassis"/>
    <child link="camera"/>
    <axis xyz="0.0 0.0 1.0"/>
  </joint>

  <link name="base_laser">
    <inertial>
            <mass value="0.1" />
            <inertia ixx="0.01" ixy="0.0" ixz="0" 
            iyy="0.01" iyz="0" izz="0.01" />
    </inertial>

    <visual>
      <geometry>
        <cylinder radius="0.065" length="0.02"/>
      </geometry>
      <material name="red">        
          <color rgba="1 0 0 1"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <cylinder radius="0.065" length="0.02"/>
      </geometry>
    </collision>
  </link>

  <joint name="lidar_joint" type="fixed">
    <origin xyz="0.34 0.0 0.305" rpy="0.0 0.0 0.0"/>
    <parent link="chassis"/>
    <child link="base_laser"/>
    <axis xyz="0.0 0.0 1.0"/>
  </joint>

   <!-- DIFFENERNTIAL DRIVE-->


  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <joint name="wheel_back_left_joint">
      <!-- etwas großzügigere Limits, sonst kappst du bei ~1 rad/s -->
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="wheel_back_right_joint">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>


  <gazebo>
    <!-- Joint state publisher -->
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>/home/andi/ros2_workspace/install/self_driving_bot/share/self_driving_bot/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>
  
  
   <!-- CAMERA-->
  <gazebo reference="camera_joint">
    <sensor name="rgbd_camera" type="rgbd_camera">
      <always_on>1</always_on>
      <camera>
        <horizontal_fov>1.25</horizontal_fov>
        <image>
          <width>320</width>
          <height>240</height>
        </image>
        <clip>
          <near>0.3</near>
          <far>100</far>
        </clip>
        <optical_frame_id>oakd_rgb_camera_optical_frame</optical_frame_id>
      </camera>
      <update_rate>10</update_rate>
      <visualize>true</visualize>
      <topic>rgbd_camera</topic>
    </sensor>
    <visual>
      <material>
        <diffuse>0.011764705882352941 0.011764705882352941 0.011764705882352941 1</diffuse>
        <specular>0 0 0 1</specular>
        <emissive>0 0 0 1</emissive>
      </material>
    </visual>
  </gazebo>

  <!-- LIDAR -->
  <gazebo reference="rplidar_link">
    <sensor name="rplidar" type="gpu_lidar">
      <update_rate>10.0</update_rate>
      <visualize>True</visualize>
      <always_on>true</always_on>
      <gz_frame_id>rplidar_link</gz_frame_id>
      <topic>scan</topic>
      <lidar>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1.0</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>6.28</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.6</min>
          <max>20.0</max>
          <resolution>0.01</resolution>
        </range>
      </lidar>
    </sensor>
    <visual>
      <material>
        <diffuse>0.011764705882352941 0.011764705882352941 0.011764705882352941 1</diffuse>
        <specular>0 0 0 1</specular>
        <emissive>0 0 0 1</emissive>
      </material>
    </visual>
  </gazebo>



</robot>